@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    background-color: rgb(8, 14, 23);
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
}

.wrapper {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}
